h1 {
  font-size: var(--fs-h1);
  display: flex;
  white-space: nowrap;
  color: var(--white);
}

h2 {
  font-size: var(--fs-h2);
  color: var(--black);
}

h3 {
  font-size: var(--fs-h3);
}

p {
  font-size: var(--fs-p);
}

a {
  font-size: var(--fs-a);
  color: var(--text-muted);
}
